In [1]:
url = "https://raw.githubusercontent.com/guru99-edu/R-Programming/master/adult_data.csv"

from pyspark.sql import SQLContext

from pyspark import SparkFiles
from pyspark import SparkContext
sc =SparkContext()
sc.addFile(url)

sqlContext = SQLContext(sc)

In [9]:
df = sqlContext.read.csv(SparkFiles.get("adult_data.csv"), header=True, inferSchema= True)

In [10]:
df.printSchema()

root
 |-- x: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- educational-num: integer (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- capital-gain: integer (nullable = true)
 |-- capital-loss: integer (nullable = true)
 |-- hours-per-week: integer (nullable = true)
 |-- native-country: string (nullable = true)
 |-- income: string (nullable = true)

In [11]:
df.show(2)

+---+---+---------+------+---------+---------------+------------------+-----------------+------------+-----+------+------------+------------+--------------+--------------+------+
|  x|age|workclass|fnlwgt|education|educational-num|    marital-status|       occupation|relationship| race|gender|capital-gain|capital-loss|hours-per-week|native-country|income|
+---+---+---------+------+---------+---------------+------------------+-----------------+------------+-----+------+------------+------------+--------------+--------------+------+
|  1| 25|  Private|226802|     11th|              7|     Never-married|Machine-op-inspct|   Own-child|Black|  Male|           0|           0|            40| United-States| <=50K|
|  2| 38|  Private| 89814|  HS-grad|              9|Married-civ-spouse|  Farming-fishing|     Husband|White|  Male|           0|           0|            50| United-States| <=50K|
+---+---+---------+------+---------+---------------+------------------+-----------------+------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 2 rows

In [12]:
df.select("workclass", "native-country", "age").show(5)

+---------+--------------+---+
|workclass|native-country|age|
+---------+--------------+---+
|  Private| United-States| 25|
|  Private| United-States| 38|
|Local-gov| United-States| 28|
|  Private| United-States| 44|
|        ?| United-States| 18|
+---------+--------------+---+
only showing top 5 rows

## number of personne with Private workclass

In [13]:
dfP = df.filter(df.workclass == "Private")
dfP.count()

33906

## Private workclass personne average age

In [14]:
dfP.groupby('native-country').agg({'age': 'mean'}).withColumnRenamed("avg(age)", "AverageAge").show()

+------------------+------------------+
|    native-country|        AverageAge|
+------------------+------------------+
|       Philippines| 38.12280701754386|
|           Germany| 37.90510948905109|
|          Cambodia| 37.77272727272727|
|            France|              40.8|
|            Greece| 42.44827586206897|
|            Taiwan|34.054054054054056|
|           Ecuador|37.189189189189186|
|         Nicaragua|            35.275|
|              Hong|33.916666666666664|
|              Peru| 36.51219512195122|
|             India|37.529411764705884|
|             China| 40.23529411764706|
|             Italy|44.736111111111114|
|Holand-Netherlands|              32.0|
|              Cuba| 46.05263157894737|
|             South|38.775862068965516|
|              Iran|38.611111111111114|
|           Ireland|           37.0625|
|          Thailand|              36.0|
|              Laos| 34.94736842105263|
+------------------+------------------+
only showing top 20 rows